 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row col-lg-12">
            	<p>
            		I am a recent graduate from Rutgers University. I completed my Bachelors of Science in Computer Science with a minor in Cognitive Science. My cumulative GPA is 3.61/4.
            	</p>
            	<p>
            		My areas of interests include Operating Systems, Compilers, and AI. I am interested in Android and Linux platforms in particular.
            	</p>
            	<p>
            		I am actively looking for full-time opportunities in the US. You can contact me from the website or email me at soham4jam@gmail.com.
            	</p>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.dropbox.com/s/flqz24a9fmjscee/SohamJResume.pdf?dl=1" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
